body {
  background-color: @gray;
  font-size: 1.6rem;
}

header {
  background-color: #4A4A4A;
  border-bottom: 4px solid @logo-red;
}

#logo {
  height: 50px;
  width: 46px;
  background-image: url('../images/logo.png');
  background-size: cover;
}