.ChatBox {
  font-family: "Droid Sans", sans-serif;
}

.chatList {
  height: (92vh-@formheight);
  width: 100%;
  //height: (50vh-@formheight);
  //max-height: (50vh-@formheight);
  overflow: scroll;
  padding: 2vh 0;
}

.message-container {
  margin-top: 0.5rem;
  width: 100%;
  border-left: 0.4rem solid #AAA;


  .author-container {
    background-color: #FFF;
    display: inline-block;
    width: 20%;
    min-width: 10rem;
    max-width: 20rem;
    padding: 0.2rem;
    vertical-align: top;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .gravatar {
      width: 1.5rem;
      height: 1.5rem;
      vertical-align: middle;
      border-radius: 1.5rem;
      background-color: #55A1B5;
      display: inline-block;
      margin-left: 0.5rem;

      @media only screen and (max-width : @small) {
        margin-left: 0;
      } 
    }

    .author {
      display: inline-block;
      margin-left: 1rem;
      padding: 0.2rem;
    }
  }

  .message {
    background: #FCFCFC;
    display: inline-block;
    font-size: 0.9rem;
    padding: 0 1rem 0.3rem 1rem;
    width: 70%;

    .timestamp {
      color: #CCC;
      font-size: 0.6rem;
      float: right;
    }
  }
}

.message-container.myself {
  .author {
    background-color: #F7F7D6;
  }
}

.codeblock {
  background: #EEE;
  border-radius: 4px;
  margin: 0.5rem 0;
  padding: 0.5rem
}

.chatForm {
  height: @formheight;
  width: 100%;
}

.message-field {
  width: 70%;
  text-align: top;
  height: 100%;
}

.message-send {
  width: 20%;
}
