.ChatBox {
  background: #FFF;
  font-family: "Droid Sans", sans-serif;
}

.chatList {
  height: (92vh-@formheight);
  width: 100%;
  overflow-y: scroll;
  padding: 2vh 0;
}

.message-container {
  margin-bottom: 0.5rem;
  border-left: 0.4rem solid #AAA;


  .author-container {
    background-color: #FFF;
    padding: 0.2rem;
    vertical-align: top;

    .gravatar {
      width: 3rem;
      height: 3rem;
      vertical-align: middle;
      border-radius: 1.5rem;
      background-color: #55A1B5;
      display: inline-block;
      margin-left: 0.5rem;

      @media only screen and (max-width : @small) {
        width: 1.5rem;
        height: 1.5rem;
      }

      @media only screen and (max-width : @mobile) {
        display: none;
      } 
    }

    .author {
      display: inline-block;
      margin-left: 1rem;
      padding: 0.2rem;
    }
  }

  .message {
    background: #FCFCFC;
    display: inline-block;
    padding: 0 1rem 0.3rem 1rem;

    p {
      margin-bottom: 0;
    }

    .timestamp {
      color: #CCC;
      display: inline-block;
      float: right;
      font-size: 1rem;
    }
  }
}

.message-container.row {
  margin-left: 0;
  margin-right: 0;
}

.message-container.myself {
  .author {
    background-color: #F7F7D6;
  }
}

.codeblock {
  border-radius: 4px;
  margin: 0.5rem 0;
  padding: 0.5rem
}

pre {
  padding: 0;
}

.chatForm {
  height: @formheight;
  width: 100%;
}

.message-field {
  text-align: top;
  height: 100%;
}

.message-send {
}

input[type="button"], input[type="reset"], input[type="submit"] {
  height: 100%;
}
