// Colors
@gray: #4A4A4A;

// Vars
@mobile: 568px;
@small: 768px;

@formheight: 20vh;

// External Imports
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

// Partials
@import "chat.less";

#logo {
  height: 50px;
  width: 50px;
  background-image: url('../img/logo.png');
}