// Colors
@dark-gray: #3F3F3F;
@faded-gray: #AAA;
@light-gray: #CCC;
@form-back: #F5F5F5;
@logo-red: #D9565B;
@submit-green: #66B350;
@submit-green-dark: #57A142;
@image-path: "../images";

// Vars
@mobile: 568px;
@small: 768px;

@formheight: 14vh;
@barheight: 4vh;
@inputheight: 18vh;

// External Imports
@import "../../node_modules/bootstrap-less/bootstrap/bootstrap.less";
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

// Partials
@import "chat.less";
@import "sidePanel.less";
@import "body-style.less";

#header {
	height:auto;
}

#footer {
	height: 5rem;
}

#copyright {
	color: #FFF;
	vertical-align: middle;
	padding-left: 4rem;
}

strong {
  font-weight: 700;
}