.sidePanel {
	background: @dark-gray;
	border-top: 4px solid #5A5A5A;
	display: inline-block;
	font-family: "Droid Sans", sans-serif;
	height: 100%;

	h1 {
		color: #FFF;
	}
}

.usersList {
	// background-color: @gray;
}


.userContainer {
	margin: 1rem 0;
	border-left: 0.6rem solid #AAA;
	height: 4rem;
	//display: block;
	vertical-aligh: top;
	
	.gravatar {
		padding-left: 4rem;
		vertical-align: middle;
		width: 4rem;
		height: 4rem;
		display:inline-block;
    background-color: #55A1B5;
    border-radius: 1.5rem;
    margin-left: 2rem;
	}

	.userName {
		padding-left: 1rem;
		display: inline-block;
		margin-left: 0.5rem;
		color: #FFF;
	}
	
}